/*-----------Default body formatting----------------*/
html {
  scroll-behavior: smooth;
}

body{
	margin: 0;
	font-family: 'Raleway', sans-serif; 
	font-size: 30px;
	color: rgb(37, 50, 55);
	text-align: center;
}

div{
	margin: 0;
	padding: 0;
}

/*-----------Profile section----------------------*/
h1{
	font-family: 'Abril Fatface';
	font-size: 50px;
}

#profile-pic{
	width: 450px;
	border-radius: 50%;
}

#perfil {
	background-color: rgba(209, 198, 178);
    padding: 30px 10px;
    margin: 0px 0px;
    text-align: center;
}

p{
	font-size: 16px;
	color: rgb(30, 30, 30);
}

.intro{
	padding: 5px 80px 10px 80px; /*top, right, bottom, left*/
}

a{
	color: white;
	font-style: bold;
	font-size: 16px;
}

a:hover{
	color: rgb(37, 50, 55);
}

#cv-button{
		border: 5px solid rgb(112, 109, 78);
    border-radius: 10px;
    padding: 10px;
    height: 20px;
    width: 250px;
    background-color: rgb(112, 109, 78);
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.2);
    margin-left: auto;
    margin-right: auto;
}

#cv-button:hover{
	border: rgb(112, 109, 78, 0.6);
	background-color: rgb(112, 109, 78, 0.6);
}

/*----------------Interests section----------------------------*/
h2{
	font-size: 20px;
}

#intereses{
	background-color: rgba(209, 198, 178, 0.6);
	margin: 0px 0px 0px 0px;
	padding: 10px 0px;
}

.img-list{
	border-radius: 20px;
	height: 200;
	width: 200;
}

.card-list{
	padding: 10px 15px;
	margin: 25px;
	display: inline-block;
	height: 300px;
  width: 250;
	border: 5px solid rgb(37, 50, 55);
	border-radius: 20px;
	box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.2);
	background-color: rgba(37, 50, 55, 0.1);
}

.card-list p{
	font-size: 12px;
}

.card-list a{
	color: rgb(37, 50, 55);
}

.card-list:hover{
	filter: contrast(50%);
	background-color: rgb(234, 239, 189);
}

.container  {
  text-align: center;
}

/*--------------- Social Media section--------------*/
#social-media{
	background-color: rgba(209, 198, 178, 0.6);
	margin: 0px;
	padding: 20px;
}

.social-link{
	color: rgb(37, 50, 55);
	font-size: 40px;
}

.connect-social{
	display: inline-block;
}


/*-------------- Research section-----------------*/
.interest-title{
	font-size: 30px;
}

#research-section{
	padding: 80px 0px 80px 0px;
}

#research-section p{
	font-size: 15px;
	text-align: justify;
	padding: 0px 80px 0px 80px;
	font-style: normal;
}

.project-title{
	font-size: 18px;
	font-style: italic;
}

.external-url{
	color: rgba(112, 109, 78);
	font-size: 15px;
}

.external-url:hover{
	color: rgba(112, 109, 78, 0.5);
}

/*----------- Teaching Section ------------*/

#teaching-section{
		background-color: rgba(209, 198, 178, 0.6);
		padding: 80px 0px 80px 0px;
}

#teaching-section p{
	font-size: 15px;
	text-align: justify;
	padding: 0px 80px 0px 80px;
	font-style: normal;
}

/*------------ Hobbies Section ------------- */

#hobbies-section{
		padding: 80px 0px 80px 0px;
}

#hobbies-section p{
	font-size: 15px;
	text-align: justify;
	padding: 0px 80px 0px 80px;
	font-style: normal;
}
	
.wrapper img{
	display: block;
	max-width: 100%;
}

.wrapper{
	display: grid;
	grid-template-columns: 1fr 5fr;
	grid-gap: 10px;
	overflow: hidden;
	height: 100vh;
	margin: 50px;
	padding: 50px;
}

.gallery{
	overflow: scroll;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
}

.gallery__img{
	scroll-snap-align: start;
	margin-bottom: 10px;
	min-height: 10vh; 
	object-fit: cover;
}

.lil-nav{
	overflow-y: scroll;
	overflow-x: hidden;
}

.lil-nav a{
	height: 200px;
	display: flex;
	margin-bottom: 10px;
}

.lil-nav__img{
	object-fit: cover;
	filter: saturate(0);
	transition: 0.3s ease all;
}

.lil-nav__img:hover{
	transform: scale(1.05);
	filter: saturate(1);
}

/* css adapted from https://makitweb.com/html-how-to-show-text-above-image-on-hover/ */

/* Parent Container */
.content_img{
	 position: relative;
	 float: left;
	 margin-right: 10px;
}

/* Child Text Container */
.content_img div{
	 position: absolute;
	 bottom: 0;
	 right: 0;
	 background: black;
	 color: white;
	 margin-bottom: 5px;
	 font-family: sans-serif;
	 opacity: 0;
	 visibility: hidden;
	 -webkit-transition: visibility 0s, opacity 0.5s linear; 
	 transition: visibility 0s, opacity 0.5s linear;
	 font-size: 15px;
}

/* Hover on Parent Container */
.content_img:hover{
 cursor: pointer;
}

.content_img:hover div{
	 width: 150px;
	 padding: 8px 15px;
	 visibility: visible;
	 opacity: 0.7; 
}

/*----------- Footer---------*/
#footer p{
		text-align: center;
		padding: 0px;
		margin: 0px;
}

/*---------- Responsive Design------*/

/*On small screens, hide carousel and show images fixed in a column*/
@media screen and (min-width: 0px) and (max-width: 959px) {
  #responsive-opt { 
  	display: inline-flex;
    flex-direction: column; 
  	}  	
  .wrapper {display: none;}
	.content_img div{
		 position: absolute;
		 bottom: 0;
		 right: 0;
		 background: black;
		 color: white;
		 margin-bottom: 5px;
		 font-family: sans-serif;
		 opacity: 0.7;
		 visibility: visible;
		 font-size: 15px;
	}
}

/* On big screen, show carousel and hide photo list*/
@media screen and (min-width: 960px) {
  #responsive-opt {display: none;}   
}

@viewport {
    zoom: 1.0;
    width: device-width;
} 